/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* Global Styles */

#BrowserPreferences {
  -moz-appearance: none !important;
  background-image: url('chrome://global/skin/background.gif') !important;
}

#BrowserPreferences tabpanels {
  -moz-appearance: none !important;
  background-image: url('chrome://global/skin/F2.gif') !important;
}

#BrowserPreferences radio[pane] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
 padding-top: 4px;
}

radio[pane=paneMain] {
	-moz-image-region: rect(0, 32px, 32px, 0);
}
radio[pane=paneMain]:hover, 
radio[pane=paneMain][selected="true"]  {
	-moz-image-region: rect(32px, 32px,  64px, 0px);
}

radio[pane=paneTabs] {
	-moz-image-region: rect(0, 192px, 32px, 160px);
}
radio[pane=paneTabs]:hover, 
radio[pane=paneTabs][selected="true"] {
	-moz-image-region: rect(32px, 192px, 64px, 160px);
}

radio[pane=paneContent] {
	-moz-image-region: rect(0, 96px,  32px, 64px);
}
radio[pane=paneContent]:hover, 
radio[pane=paneContent][selected="true"]  {
	-moz-image-region: rect(32px, 96px,  64px, 64px);
}

radio[pane=paneApplications] {
	-moz-image-region: rect(0, 256px, 32px, 224px);
}
radio[pane=paneApplications]:hover, 
radio[pane=paneApplications][selected="true"]  {
	-moz-image-region: rect(32px, 256px, 64px, 224px);
}

radio[pane=panePrivacy] {
	-moz-image-region: rect(0, 64px,  32px, 32px);
}
radio[pane=panePrivacy]:hover, 
radio[pane=panePrivacy][selected="true"]  {
	-moz-image-region: rect(32px, 64px,  64px, 32px);
}

radio[pane=paneSecurity] {
	-moz-image-region: rect(0, 224px, 32px, 192px);
}
radio[pane=paneSecurity]:hover, 
radio[pane=paneSecurity][selected="true"]  {
	-moz-image-region: rect(32px, 224px, 64px, 192px);
}

radio[pane=paneAdvanced] {
	-moz-image-region: rect(0, 160px, 32px, 128px)
}
radio[pane=paneAdvanced]:hover, 
radio[pane=paneAdvanced][selected="true"] {
	-moz-image-region: rect(32px, 160px, 64px, 128px);
}

radio[pane=paneSync] {
  list-style-image: url("chrome://browser/skin/sync-32.png") !important;
  -moz-image-region: rect(0, 32px, 32px, 0);
}

radio[pane=paneSync]:hover {
  -moz-image-region: rect(32px 32px 64px 0);
}

radio[pane=paneSync]:active {
  -moz-image-region: rect(64px 32px 96px 0);
}

/* Applications Pane */
#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}

/* Privacy Pane */

/* styles for the link elements copied from .text-link in global.css */
.inline-link {
  color: blue; /*-moz-nativehyperlinktext;*/
  text-decoration: underline;
  cursor: pointer;
}
  
.inline-link:hover {
  text-decoration: underline;
}

.inline-link:focus, .inline-link:hover:active {
  color: red;
}

/* Modeless Window Dialogs */
.windowDialog,
.windowDialog prefpane {
  padding: 0;
}

.contentPane {
  margin: 9px 8px 5px 8px;
}

.actionButtons {
  margin: 0 3px 6px 3px !important;
}

/* Cookies Manager */
#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  list-style-image: url("chrome://global/skin/icons/item.png") !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  list-style-image: url("chrome://global/skin/icons/folder.png") !important;
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  list-style-image: url("chrome://global/skin/icons/folder-open.png") !important;
}

#cookieInfoBox {
  border-top: 1px solid #9F9F9F; /*ThreeDShadow;*/
  border-radius: 0;
  margin: 4px;
  padding: 0;
}

/* Advanced Pane */

/* Adding padding-bottom prevents the bottom of the tabpanel from being cut off
   when browser.preferences.animateFadeIn = true */
#advancedPrefs {
  padding-bottom: 8px;
}

/* bottom-most box containing a groupbox in a prefpane. Prevents the bottom
   of the groupbox from being cut off */
.bottomBox {
  padding-bottom: 4px;
}

/* Sync Pane */

#syncDesc {
  padding: 0 8em;
}

.syncGroupBox {
  padding: 10px;
}

#accountCaptionImage {
  list-style-image: url("chrome://mozapps/skin/profile/profileicon.png");
}

#syncAddDeviceLabel {
  margin-top: 1em;
  margin-bottom: 1em;
}

#noFxaAccount {
  margin: 6px;
  line-height: 1.2em;
}

#noFxaAccount > label:first-child {
  margin-bottom: 0.6em;
}

#fxa-pweng-help-link > label {
  margin: 0;
}

#fxa-pweng-help-link > image {
  list-style-image: url("chrome://global/skin/icons/question-16.png");
}

#syncEnginesList {
  height: 11em;
}

